@import "compass_twitter_bootstrap";

body {
	background-color: #ededed;
}
#destinations {
	$padTop: 4px;
	$padSides: 6px;
	$fieldHeight: 30px;
	$opacityOff: .001;
	$fieldBorderRad: 4px;
	$fieldBorderSty: 1px solid #ccc;
	$rootMargin: 10px;
	$androidInputMargin: 20px;
	$inputBorderRadius: 10px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);	
    -webkit-appearance: none;

    padding-top: $rootMargin;

    label {
		margin-left: $rootMargin;
		display: inline-block;	
	}
	.input {
		display: inline-block;
		padding: $padTop $padSides;
		border-radius: $fieldBorderRad;
		border: $fieldBorderSty;
		background-color: white;
		width: 65%;
	}  
	form {
		position: relative;
		margin-top: ($fieldHeight + $rootMargin) * -1;
		&[data-state="off"] {
			opacity: $opacityOff;
			.layer {
				display: none;
			}
		}
		&[data-state="on"] {
			.layer {
				display: block;
			}
		}
		header {
			@extend .clearfix;
			padding-top: $rootMargin;
			padding-left: $rootMargin;
			background-color: black;
			.cap {
				@include border-left-radius($inputBorderRadius);
				@include border-right-radius(0);
				display: inline-block;
				float: left;
				width: 10px;
				background-color: white;					
				padding: $padTop 0;
				border: $fieldBorderSty;
				border-color: white;
			}
			input {
				-webkit-appearance: none;
				width: 45%;
				border-radius: 0;
				float: left;
				padding-left: 0;
				border-color: white;
				&:focus {
					@include box-shadow(none);
					border-color: white;
				};
			}
			.clear {
				@include border-left-radius(0);
				@include border-right-radius($inputBorderRadius);
				float: left;
				display: inline-block;
				padding: $padTop - 1px $padSides $padTop + 1px;
				border: $fieldBorderSty;
				border-color: white;
				border-left: 0;
				background-color: white;
				img {
					margin-left: $androidInputMargin;
				}
			}
			.cancel {
				@extend .btn;
				margin-right: $rootMargin;
				float: right;
			}
		}
		.layer {
			height: 490px;
			background-color: white;
			table {
				width: 100%;
				td {
					padding: 10px 0 10px 25px;
					font-weight: bold;				
					border-bottom: 1px solid #ccc;
					&.location-true {
						background: url(../images/location.png) 2px center no-repeat;
					}
					&.isAirport-true {
						background: url(../images/gray.flight.icon.png) 2px center no-repeat;
					}
				}
			}
		}
	}  
}